@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,800;1,400;1,500;1,700&display=swap");
:root {
  font-size: 62.5%;
  --color-primary: #df761f;
  --color-secondary: #f2b481be;
  --color-accent: #642f03;
  --color-bg: #f0b07c;
  --img-color: #96ad46;
  --h1-fontsize: clamp(3rem, 5vw, 5.6rem);
  --h2-fontsize: clamp(2.5rem, 2.5vw, 4.15rem);
  --h3-fontsize: clamp(2rem, 2vw, 3.83rem);
  --h4-fontsize: clamp(1.5rem, 1.5vw, 3.35rem);
  --h5-fontsize: clamp(1.3rem, 1.3vw, 3.03rem);
  --h6-fontsize: clamp(1.1rem, 1.1vw, 2.87rem);
  --p-fontsize: clamp(1.1rem, 1.1vw, 2.87rem);
  --btn-fontsize: clamp();
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font: inherit;
}
html {
  scroll-behavior: smooth;
  --top-spacing: 5.5rem;
  scroll-padding-top: var(--top-spacing);
  color: var(--colr-primary);
}
body {
  font-size: 1.8rem;
  overflow-x: hidden;
  line-height: 1.2;
  font-family: "Barlow", sans-serif;
}
span {
  color: var(--color-primary);
}

p {
  text-align: justify;
  font-size: var(--h4-p-fontsize);
  font-family: "Open Sans", sans-serif;
}
section {
  padding: 3rem 0;
}
.row {
  margin-top: 3rem;
}
h1 {
  font-size: var(--h1-fontsize);
  font-weight: 500;
  line-height: 6.6rem;
  font-family: "Playfair Display", serif;
}
h2 {
  font-size: var(--h2-fontsize);
}
h3 {
  font-size: var(--h3-fontsize);
}
h4 {
  font-size: var(--h4-p-fontsize);
}
h5 {
  font-size: var(--h5-fontsize);
}
h6 {
  font-size: var(--h6-fontsize);
}
img,
picture,
svg,
video {
  max-width: 100%;
  height: auto;
}

.btn-all {
  /* background: url("../img/download\ \(1\).svg"); */
  background: url("../img/button.svg");
  background-repeat: no-repeat;
  background-position: 40%;
  padding: 0.8rem;
  width: 20%;
  color: #fff;
  border: none;
  border-radius: 10px;
  transition: 0.5s linear;
}
.btn-all:hover {
  background-position: -100px;
  transition: 0.5s linear;
}

li a {
  color: #000 !important;
  font-size: var(--h5-fontsize);
  position: relative;
}
.navbar li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -6px;
  left: 10%;
  background-color: var(--color-primary);
  visibility: hidden;
  transition: all 0.7s ease-in-out 0.3s;
}
.navbar li a:hover::before {
  visibility: visible;
  width: 80%;
}

a.nav-link {
  margin-right: 2rem;
}
.dropdown-menu :hover {
  color: #000 !important;
}
.dropdown-menu {
  background: var(--color-secondary);
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.section-title {
  text-align: center;
  padding: 1.5rem 0;
}
.section-title h2 {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  padding: 0.8rem 2rem;
  margin: 0;
  background: var(--color-secondary);
  color: var(--color-primary);
  display: inline-block;
  text-transform: uppercase;
  border-radius: 5rem;
}
#index-html .about-us img {
  background: transparent;
}
#index-html .section-title p {
  position: relative;
  text-align: center;
}

#index-html .section-title p:first-of-type {
  font-size: var(--h3-fontsize);
  margin: 2rem;
}
/* #index-html .section-title p:first-of-type::after {
  font-size: var(--h3-fontsize);
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  position: absolute;
  background: #000;
  right: 35%;
  top: 60%;
  z-index: -2;
} */

#index-html .section-title p:nth-of-type(2) {
  font-size: var(--h5-fontsize);
}
#index-html .abc p {
  margin-top: 4rem;
}

#index-html .hero .form-btn .btn-hero1 {
  background: url("../img/button.svg");
  background-repeat: no-repeat;
  background-position: 40%;
  padding: 1rem 3rem;
  width: 30%;
  color: #fff;
  border: none;
  border-radius: 1.6rem;
  transition: 0.8s linear;
}
#index-html .hero .form-btn .btn-hero1:hover {
  background-position: -100px;
  transition: 0.5s linear;
}
#index-html .hero .form-btn .btn {
  border: 0.2rem solid var(--color-primary);
  font-family: "Playfair Display", serif;
  border-radius: 20px;
  background: none;
  padding: 1rem 3rem;
  font-size: 15px;
  width: 30%;

  margin: 10px;
  transition: 10s;
  position: relative;
  overflow: hidden;
}
.btnhero2 {
  color: var(--color-primary);
}

.btn::before {
  content: "";
  position: absolute;
  display: inline-block;
  border-radius: 1.6rem;
  border: none;
  left: 0;
  width: 100%;
  height: 0;
  background: var(--color-primary);
  z-index: -1;
  transition: 0.8s;
}

.btnhero2::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btnhero2:hover::before {
  height: 180%;
}

#index-html .hero .img-animation {
  animation-name: up-and-down;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes up-and-down {
  to {
    transform: translateY(-30px);
  }
}
#index-html .founders {
  background: #e7e7e7c2;
}

#index-html .counter span {
  font-size: var(--h3-fontsize);
  text-align: center;
  padding: 1rem;
  position: relative;
}
#index-html .counter .count-1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 2rem;
  /* border: 2px solid #000; */
}
#index-html .counter .count-1 i {
  font-size: var(--h2-fontsize);
}
#index-html .counter span::after {
  content: "+";
  position: absolute;
}

#index-html .our-segment ul li {
  margin-top: 7rem;
  border: none;
  color: #fff;
}
#index-html .our-segment h3,
#index-html .our-segment p {
  color: #fff;
}

#index-html .our-segment img {
  margin-top: 7rem;
  color: #fff;
}
#index-html .our-segment {
  background-image: url("https://ombryo.com/wp-content/uploads/2021/07/ombryo-client-black-scaled.jpg?id=6875");
  background-repeat: no-repeat;
  background-size: cover;
}
#index-html .nav-link {
  color: #fff;
}
#index-html .our-segment .nav-tabs .nav-link {
  border: none;
}
#index-html .our-segment .nav-tabs {
  border: none;
}
#index-html .our-segment .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent;
  color: #fff;
}
/* #index-html .services {
  background: #6c757d;
} */

#index-html .services {
  background: #e7e7e7c2;
}

#index-html .services p {
  text-align: center;
  /* margin-top: 2rem; */
}
#index-html .services .btn {
  font-size: var(--h6-fontsize);
}
#index-html .services .btn:hover {
  color: var(--color-primary);
}

#index-html .our-team .card {
  margin-left: 1rem;
}
#index-html .our-team .card h4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
#index-html .our-team .card p {
  text-align: center;
  margin-bottom: 1rem;
}

#contact-us .contact {
  text-align: center;
}
#contact-us .contact row i {
  font-size: 2rem;
}

#footer .top-footer {
  background-color: #e7e7e7c2;
}

#footer .top-footer ul li {
  list-style: none;
  margin-top: 1rem;
}
#footer .top-footer ul li i {
  font-size: var(--h2-fontsize);
  margin: 1rem;
  color: var(--color-primary);
}
#footer .top-footer .card .btn {
  font-size: var(--h4-fontsize);
  padding: 0.5rem 5rem;
  border-radius: 3rem;
}
#footer .top-footer .card .card form input {
  padding: 1rem 3rem;
  border-radius: 1rem;
  margin-top: 2rem;
  font-size: var(--h6-fontsize);
}
#footer .top-footer .card .card form textarea {
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: var(--h6-fontsize);
}
